.box{
    width: 50vh;
    height: 70vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 0 0 3vh 3vh;
    border: 0.5vh solid rgba(255, 255, 255, 0.33);
    z-index: 100;
    animation: end 3s normal forwards ease-in-out;
}

.circle-1{
    width: 10vh; /* random */
    height: 10vh; /* random */
    background: linear-gradient(180deg, #ECFFF1 0%, #2AF061 100%); /*random colors*/
    box-shadow: 0 0 1.5vh rgba(255, 255, 255, 0.9); 
    border-radius: 100%;
    position: absolute;
    top: 0;
    animation: one 0.5s normal forwards ease-in-out;
}

@keyframes one{0%{margin-top: 0;}100%{margin-top: 74.5vh;}}